<html lang="en" ng-app="myApp" ng-controller="WelcomeController">
<head>
    <title>RSSd</title>
    <meta name="author" content="Lev Aminov <leoderoko@gmail.com>">
    <meta name="description" content="RSSd Control">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/angular-material/angular-material.min.css">
</head>
<body ng-cloak>
  <md-content class="md-padding" layout="column">
    <md-content class="md-whiteframe-z2">
      <md-toolbar layout="row" layout-align="space-around center">
        <h1 class="md-display-2">RSSd Status</h1>
      </md-toolbar>
      <md-content class="md-padding">
        <md-data-table-container>
          <table md-data-table class="md-primary">
            <tbody>
              <tr ng-repeat="feed in feeds | orderBy: 'endpoint_url.Host'">
                <td>{{feed.endpoint_url.Host}} ({{feed.name}})<br><small>{{feed.tags}}</small></td>
                <td>{{feed.stats.pull_count}}</td>
                <td>{{feed.stats.err_count}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
      </md-content>
    </md-content>
  </md-content>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
  <script src="vendor/angular-aria/angular-aria.min.js"></script>
  <script src="vendor/angular-material/angular-material.min.js"></script>
  <script src="js/app.js?v=1"></script>
  <script src="js/services.js?v=1"></script>
  <script src="js/controllers.js?v=1"></script>
</body>
</html>
